{% extends 'base.html.twig' %}

{% block page_classes 'login-page' %}
{% block title 'title.log_in'|trans %}

{% block body %}
  <h1 class="page-heading">{{ block('title') }}</h1>

  <form action="{{ path('login_check') }}" method="POST" class="form form--login">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    {% if error %}
      <ul class="form__errors">
        <li class="form__error">{{ error.messageKey|trans(error.messageData, 'security') }}</li>
      </ul>
    {% endif %}

    <div class="form__row">
      <label class="form__label" for="login-username">{{ 'login_form.username'|trans }}</label>
      <input type="text" name="_username" autocomplete="off" id="login-username" required>
    </div>

    <div class="form__row">
      <label class="form__label" for="login-password">{{ 'login_form.password'|trans }}</label>
      <input type="password" name="_password" autocomplete="off" id="login-password" required>
    </div>

    <div class="form__row form__button-row">
      <button type="submit" class="button">{{ 'login_form.log_in'|trans }}</button>

      <a href="{{ path('request_password_reset') }}" class="button button--secondary">
        {{- 'login_form.reset_password'|trans -}}
      </a>
    </div>
  </form>
{% endblock %}

