{##
 # - submitter (bool): If comment author is the submission author
 # - flag (int|string): one of AppBundle\Entity\UserFlags constants, or 'admin'/'moderator'
 # - class (string): Additional classes
 #}
{%- macro user_link(user, options) -%}
  {%- from _self import _class_by_flag -%}
  <a href="{{ path('user', {username: user.username}) }}"
     class="{{ (options.submitter ?? false) ? 'submitter' }} {{ _class_by_flag(options.flag ?? 0) }} {{ options.class ?? '' }}">
    {{- (options.prefix ?? false) ? '/u/' -}}
    {{- user.username -}}
  </a>
  {%- if options.flag ?? 0 is same as(0) -%}
  {% elseif options.flag == constant('AppBundle\\Entity\\UserFlags::FLAG_ADMIN') or options.flag == 'admin' %}
    <small class="user-flag user-flag-admin">{{ 'user_flag.admin'|trans }}</small>
  {% elseif options.flag == constant('AppBundle\\Entity\\UserFlags::FLAG_MODERATOR') or options.flag == 'moderator' %}
    <small class="user-flag user-flag-moderator">{{ 'user_flag.moderator'|trans }}</small>
  {%- endif -%}
{%- endmacro -%}

{%- macro _class_by_flag(flag) -%}
  {%- if flag is same as(0) -%}
    {#- early exit -#}
  {%- elseif flag == constant('AppBundle\\Entity\\UserFlags::FLAG_ADMIN') or flag == 'admin' -%}
    flag-admin
  {%- elseif flag == constant('AppBundle\\Entity\\UserFlags::FLAG_MODERATOR') or flag == 'moderator' -%}
    flag-moderator
  {%- endif -%}
{%- endmacro -%}
