{% extends 'base.html.twig' %}
{% from 'forum/_list_macros.html.twig' import forum_list_header %}

{% block page_classes %}
  forums-by-category-page
{% endblock %}

{% block title %}
  {{ 'forum_list.page_title'|trans }}
{% endblock %}

{% block body %}
  {{ forum_list_header() }}

  <ul class="grouped-forum-listing">
    {% for category in forum_categories %}
      <li class="forum-group">
        <h1 class="forum-group-heading">{{ category.name }}</h1>
        <ul class="forum-group-list">
          {% for forum in category.forums %}
            <li class="forum-group-list-item">
              <a href="{{ path('forum', {forum_name: forum.name}) }}">{{ forum.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}

    {% if uncategorized_forums|length > 0 %}
      <li class="forum-group">
        <h1 class="forum-group-heading">{{ 'forum_list.uncategorized'|trans }}</h1>
        <ul class="forum-group-list">
          {% for forum in uncategorized_forums %}
            <li class="forum-group-list-item">
              <a href="{{ path('forum', {forum_name: forum.name}) }}">{{ forum.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  </ul>
{% endblock %}
